@model IEnumerable<StudentForm.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Department
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Band)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Band)
            </td>
            <td>
                @if (item.Band >= 8)
                {
                <a asp-action="Circle" asp-route-id="@item.Id">&#9678;</a>
                }
                else if (item.Band < 8 && item.Band >= 5)
                {
            <a asp-action="Triangle" asp-route-id="@item.Id">&#9651;</a>
                }
                else if (item.Band < 5 && item.Band >= 3)
                {
            <a asp-action="Cross" asp-route-id="@item.Id">&#9932;</a>
                }
                else
                {
            <a asp-action="Minus" asp-route-id="@item.Id">&#9866;</a>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
